# {{ ansible_managed }}
server {
    listen 8080;
    listen [::]:8080;
    server_name _;

    location = {{ nginx_companyx_location }} {
        default_type text/plain;
        return 200 "{{ nginx_companyx_body | regex_replace('\"', '\\\"') }}";
    }

    location / {
        return 404;
    }
}
